extends layout

block content
    h1= title
    p Welcome to #{title}
    form(name='dataInput' action = '/api' id = 'myForm' method='post')
        | First Name
        |
        input(name = 'first')
        br
        | Last Name
        |
        input(name = 'last')
        br
        input(type='submit' value = 'Submit')
        
    div
      form(name='searchById' action = 'api/id' id = 'searchForm' method = 'get')
        |Search by Id:
        |
        input(name = 'id')
        br
        input(type = 'submit' value = 'Search')